
$light-blue:#3A71A8;
$baseBlue:rgba(72, 143, 240, 1);
$barBlue:rgba(29, 143, 248, 1);
$baseFontColor:rgba(51, 51, 51, 1);
$maskBg:rgba(0, 0, 0, 1);
$titleWhite:rgba(255, 254, 254, 1);
$fontWhite:rgba(255, 255, 255, 1);
$fontSize10:10px;
$fontSize12:12px;
$fontSize13:13px;
$fontSize14:14px;
$fontSize15:15px;
$fontSize16:16px;
$fontSize18:18px;
$whiteBg:#fff;
$white:#fff;
$grayBg:rgba(239, 239, 244, 1);
$grayLine:rgba(229, 229, 229, 1);
$borderGray:rgba(191, 191, 191, 1);
$palceHolderGray:rgba(191, 191, 191, 1);
$fontGray:rgba(153, 153, 153, 1);
$lightGray:rgba(247, 247, 247, 1);
